.app-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.chart-row-01 {
  height: max-content;
}

.chart-row-0,
.chart-row-1,
.chart-row-2,
.chart-row-3 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chart-row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.chart-row-2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pie-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.ATCWrapper {
  width: 100%;
}
