.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: max-content;
  padding: 10px 15px;
  border: 1px solid #452e5a;
  border-radius: 10px;
}

.description {
  font-size: 11px;
  font-weight: 600;
}

.numbers {
  display: flex;
  gap: 5px;
}

.count {
  font-size: 25px;
}

.percent {
  font-size: 13px;
  font-weight: 600;
  color: #5fb0c0;
}

.percentViolet {
  color: #8962ac;
  font-size: 13px;
  font-weight: 600;
}

.data {
  font-size: 9px;
  color: #a59faa;
}

.infoblockRow {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 20px;
}

@media screen and (max-width: 1700px) {
  .description {
    font-size: 9px;
    font-weight: 600;
  }

  .count {
    font-size: 21px;
  }

  .percent,
  .percentViolet {
    font-size: 11px;
  }
}
